<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork23455645-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# Peer Review Assignment - Data Engineer - Extract API Data

Estimated time needed: **20** minutes

## Objectives

In this part you will:

*   Collect exchange rate data using an API
*   Store the data as a CSV

For this lab, we are going to be using Python and several Python libraries. Some of these libraries might be installed in your lab environment or in SN Labs. Others may need to be installed by you. The cells below will install these libraries when executed.

In [ ]:
#!mamba install pandas==1.3.3 -y
#!mamba install requests==2.26.0 -y

## Imports

Import any additional libraries you may need here.

In [1]:
import requests
import pandas as pd
import json

## Extract Data Using an API

Using ExchangeRate-API we will extract currency exchange rate data. Use the below steps to get the access key and to get the data.

1.  Open the url : [https://exchangeratesapi.io/](https://exchangeratesapi.io/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork23455645-2022-01-01) and click on **Get Free API Key**.
2.  Subscribe for Free plan and Sign-in with the Google Account.
3.  Once the account is created you will be redirected to [https://apilayer.com](https://apilayer.com/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork23455645-2022-01-01) website.
4.  Now, click on the **user icon** and click **Account** as shown below:

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Final%20Assignment/Images/account.png"/>

3.  Scroll down and you will get the API Key section. Copy the API key and use in the url in Question 1.

### Call the API

<b> Question 1</b> Using the `requests` library call the endpoint given above and save the text, remember the first few characters of the output:

In [2]:
# Write your code here
url = "https://api.apilayer.com/exchangerates_data/latest?base=EUR&apikey=VhKcEQy7uIbd9wDuJGKhKg5wuZyR1Pir"
r = requests.get(url).text

In [3]:
results = json.loads(r)

In [4]:
results["rates"]

{'AED': 3.74399,
 'AFN': 92.019173,
 'ALL': 116.87239,
 'AMD': 421.705869,
 'ANG': 1.836238,
 'AOA': 438.64768,
 'ARS': 131.831722,
 'AUD': 1.483469,
 'AWG': 1.832211,
 'AZN': 1.720415,
 'BAM': 1.95587,
 'BBD': 2.057171,
 'BDT': 96.236168,
 'BGN': 1.955773,
 'BHD': 0.384155,
 'BIF': 2098.339687,
 'BMD': 1.019311,
 'BND': 1.420229,
 'BOB': 7.004906,
 'BRL': 5.575329,
 'BSD': 1.018886,
 'BTC': 4.4581015e-05,
 'BTN': 81.442365,
 'BWP': 13.013066,
 'BYN': 2.572353,
 'BYR': 19978.492541,
 'BZD': 2.053771,
 'CAD': 1.316766,
 'CDF': 2041.17095,
 'CHF': 0.991407,
 'CLF': 0.034261,
 'CLP': 945.370022,
 'CNY': 6.897657,
 'COP': 4439.465677,
 'CRC': 688.250442,
 'CUC': 1.019311,
 'CUP': 27.011737,
 'CVE': 110.267255,
 'CZK': 24.49813,
 'DJF': 181.393709,
 'DKK': 7.444435,
 'DOP': 55.364145,
 'DZD': 148.715864,
 'EGP': 19.30636,
 'ERN': 15.289663,
 'ETB': 53.593096,
 'EUR': 1,
 'FJD': 2.251695,
 'FKP': 0.858603,
 'GBP': 0.852225,
 'GEL': 2.997078,
 'GGP': 0.858603,
 'GHS': 8.29907,
 'GIP': 0.858603,
 'GMD': 55.134987,
 'GNF': 8838.580741,
 'GTQ': 7.883436,
 'GYD': 213.170176,
 'HKD': 8.001029,
 'HNL': 25.05716,
 'HRK': 7.515178,
 'HTG': 119.08601,
 'HUF': 400.829708,
 'IDR': 15334.971026,
 'ILS': 3.522188,
 'IMP': 0.858603,
 'INR': 81.419089,
 'IQD': 1487.071231,
 'IRR': 43167.814475,
 'ISK': 139.697051,
 'JEP': 0.858603,
 'JMD': 155.088607,
 'JOD': 0.722716,
 'JPY': 141.311138,
 'KES': 120.860016,
 'KGS': 81.218384,
 'KHR': 4167.242126,
 'KMF': 473.597326,
 'KPW': 917.379751,
 'KRW': 1336.285698,
 'KWD': 0.313581,
 'KYD': 0.849092,
 'KZT': 491.370048,
 'LAK': 15327.313429,
 'LBP': 1540.601276,
 'LKR': 369.852064,
 'LRD': 155.450973,
 'LSL': 16.145626,
 'LTL': 3.00976,
 'LVL': 0.616571,
 'LYD': 4.971002,
 'MAD': 10.377912,
 'MDL': 19.670102,
 'MGA': 4287.937684,
 'MKD': 61.528069,
 'MMK': 1886.448701,
 'MNT': 3205.38603,
 'MOP': 8.237768,
 'MRO': 363.893796,
 'MUR': 45.543612,
 'MVR': 15.646142,
 'MWK': 1046.524133,
 'MXN': 20.926798,
 'MYR': 4.543033,
 'MZN': 65.062658,
 'NAD': 16.145622,
 'NGN': 423.424524,
 'NIO': 36.531493,
 'NOK': 10.167804,
 'NPR': 130.30319,
 'NZD': 1.645305,
 'OMR': 0.391822,
 'PAB': 1.018886,
 'PEN': 3.964703,
 'PGK': 3.636374,
 'PHP': 57.5243,
 'PKR': 231.030091,
 'PLN': 4.761241,
 'PYG': 6979.666119,
 'QAR': 3.711323,
 'RON': 4.939271,
 'RSD': 117.38896,
 'RUB': 58.024273,
 'RWF': 1044.481359,
 'SAR': 3.830635,
 'SBD': 8.317545,
 'SCR': 13.078717,
 'SDG': 465.311209,
 'SEK': 10.431199,
 'SGD': 1.420374,
 'SHP': 1.403997,
 'SLL': 13424.323695,
 'SOS': 595.788512,
 'SRD': 23.167404,
 'STD': 21097.676489,
 'SVC': 8.914876,
 'SYP': 2561.048497,
 'SZL': 17.471414,
 'THB': 37.612062,
 'TJS': 10.392913,
 'TMT': 3.577781,
 'TND': 3.122656,
 'TOP': 2.392577,
 'TRY': 18.012338,
 'TTD': 6.922268,
 'TWD': 30.510523,
 'TZS': 2377.032609,
 'UAH': 37.446466,
 'UGX': 3897.379698,
 'USD': 1.019311,
 'UYU': 42.802566,
 'UZS': 11105.650242,
 'VND': 23867.163411,
 'VUV': 121.192008,
 'WST': 2.773514,
 'XAF': 655.970414,
 'XAG': 0.055726,
 'XAU': 0.000606,
 'XCD': 2.754739,
 'XDR': 0.774016,
 'XOF': 655.970414,
 'XPF': 115.334697,
 'YER': 255.082499,
 'ZAR': 17.505084,
 'ZMK': 9175.01778,
 'ZMW': 16.786379,
 'ZWL': 328.217676}

### Save as DataFrame

<b> Question 2</b>  Using the data gathered turn it into a `pandas` dataframe. The dataframe should have the Currency as the index and `Rate` as their columns. Make sure to drop unnecessary columns.

In [5]:
# Turn the data into a dataframe
pd.DataFrame(results)

     success   timestamp base        date        rates
AED     True  1658401743  EUR  2022-07-21     3.743990
AFN     True  1658401743  EUR  2022-07-21    92.019173
ALL     True  1658401743  EUR  2022-07-21   116.872390
AMD     True  1658401743  EUR  2022-07-21   421.705869
ANG     True  1658401743  EUR  2022-07-21     1.836238
..       ...         ...  ...         ...          ...
YER     True  1658401743  EUR  2022-07-21   255.082499
ZAR     True  1658401743  EUR  2022-07-21    17.505084
ZMK     True  1658401743  EUR  2022-07-21  9175.017780
ZMW     True  1658401743  EUR  2022-07-21    16.786379
ZWL     True  1658401743  EUR  2022-07-21   328.217676

[167 rows x 5 columns]

In [6]:
# Drop unnescessary columns
df = pd.DataFrame(results)
df.drop(["success","timestamp","base","date"], axis="columns")
df

     success   timestamp base        date        rates
AED     True  1658401743  EUR  2022-07-21     3.743990
AFN     True  1658401743  EUR  2022-07-21    92.019173
ALL     True  1658401743  EUR  2022-07-21   116.872390
AMD     True  1658401743  EUR  2022-07-21   421.705869
ANG     True  1658401743  EUR  2022-07-21     1.836238
..       ...         ...  ...         ...          ...
YER     True  1658401743  EUR  2022-07-21   255.082499
ZAR     True  1658401743  EUR  2022-07-21    17.505084
ZMK     True  1658401743  EUR  2022-07-21  9175.017780
ZMW     True  1658401743  EUR  2022-07-21    16.786379
ZWL     True  1658401743  EUR  2022-07-21   328.217676

[167 rows x 5 columns]

### Load the Data

Using the dataframe save it as a CSV names `exchange_rates_1.csv`.

In [7]:
# Save the Dataframe
df.to_csv('exchange_rates_1.csv')

Your CSV should be in this format with more currencies

|     | Rates      |
| --- | ---------- |
| AED | 4.398618   |
| AFN | 92.917693  |
| ALL | 123.099093 |
| AMD | 621.935674 |
| ANG | 2.149648   |

## Authors

Ramesh Sannareddy, Joseph Santarcangelo and Azim Hirjani

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                              |
| ----------------- | ------- | ----------------- | ----------------------------------------------- |
| 2022-05-06        | 0.3     | Malika            | Updated instructions to get the API and the url |
| 2021-04-15        | 0.2     | Malika            | Updated the lab from USD to EUR                 |
| 2020-11-25        | 0.1     | Ramesh Sannareddy | Created initial version of the lab              |

Copyright © 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork23455645-2022-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).